<%- include("../includes/header.ejs", {title:"conference - ViewById"}); %>

<h1>Team View</h1>
<br/>


<br/>
Select a Team to View Their Roster
<br/>
<br />

<table border="1">
    <tr><th>City</th><th>team name</th><th>coach</th><th>overall rank</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/team/?team_id=<%= result[i].team_id %>"><%= result[i].city %></a></td>
        <td><%= result[i].team_name %></td>
        <td><%= result[i].coach %></td>
        <td><%= result[i].overall_rank %></td>
        <td>


        </td>
    </tr>
    <% } %>
</table>
<br/>

<br/>
<a href="/conference/all"><< back</a>
<%- include("../includes/footer.ejs"); %>