<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<br/>


<p>Welcome to the NBA Database! </p>

<a href="/conference/all">Search Team Statistics and Rosters</a>
<br/>
<br/>
<a href="/player/all">Search Player Statisitics</a>
<br/>
<br/>
<p>League Leaders</p>
<a href="team/stats">Highest Scoring Teams</a>
<br/>
<br/>
<a href="player/points">Highest Scoring Players</a>

<br />
<br />
<p>Learn More About Us</p>
<a href="/about/home">About Us</a>

<form action="/conference/all" method="get">



    <br />
    <br />


</form>


<%- include("./includes/footer.ejs"); %>

