<%- include("../includes/header.ejs", {title:"Add New Team"}); %>
<h1>Add New Team</h1>
<form action="/team/insert" method="get">
    Team Name:  <input id="team_name" name="team_name" type="text" />
    <br />
    <br />
    Coach Name:  <input id="coach" name="coach" type="text" />
    <br />
    <br/>
    City:  <input id="city" name="city" type="text" />
    <br/>
    <br/>
    State:  <input id="state" name="state" type="text" />
    <br/>
    <br/>
    Conference ID:
    <br/>
    Enter 1 for eastern conference or
    <br/>
    2 for western conference
    <br/><input id ="conference_id" name="conference_id" type="text" />




    <br />
    <br/>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>