<%- include("../includes/header.ejs", {title:"team - TeamLeaders"}); %>

<h1>HIGHEST SCORING TEAMS IN THE NBA</h1>
<br/>



<table border="1">
    <tr><th>team name</th><th>average points per game</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].team_name %></td>
        <td><%= result[i].average_points %></td>
        <td>

        </td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>