<%- include("../includes/header.ejs", {title:"team"}); %>
<h1>Companies</h1>
<ul>
    <li>Team Name: <%= result[0].team_name %></li>


    </li>
</ul>

<a href="/team/all"><< back</a>

<%- include("../includes/footer.ejs"); %>