<%- include("../includes/header.ejs", {title:"team - ViewById"}); %>

<h1>Eastern Conference Teams</h1>
<br/>


<br />

<table border="1">
    <tr><th>first name</th><th>last name</th><th>age</th><th>height</th><th>postion</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name %></td>
        <td><%= result[i].last_name %></td>
        <td><%= result[i].age %></td>
        <td><%= result[i].height %></td>
        <td><%= result[i].position %></td>
        <td>

        </td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/conference/all"><< back</a>
<%- include("../includes/footer.ejs"); %>