<%- include("../includes/header.ejs", {title:"title"}); %>
<header>
    <br/>
    <p><font size="+3">About NBA Database<font>

<header>
<body>


<p><font size="+0"><font>
<pre>
Welcome to the NBA season stats database. This is where we store all the statistics accumulated by players during their
time on the court. Through our website you are able to search a players average points per game, average assists per game
average steals per game, average rebounds per game and average blocks per game. Our database also allows users to search
team rosters and view team specifics such as their overall rank, coach, their city as well as there state. Have fun
searching our database and lets play some ball!
</pre>

            <a href="/about/erd">Click Here for ER - Diagram</a>
            <br/>
            <a href="/about/rs">Click Here for Relational Schema</a>

<body>

<br />
<br />
<a href="/"><< back</a>









