<%- include("../includes/header.ejs", {title:"team - PlayerLeaders"}); %>

<h1>HIGHEST SCORING PLAYERS IN THE NBA</h1>
<br/>



<table border="1">
    <tr><th>city</th><th>team</th><th>first_name</th><th>last_name</th><th>points_per_game</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].city %></td>
        <td><%= result[i].team_name %></td>
        <td><%= result[i].first_name %></td>
        <td><%= result[i].last_name %></td>
        <td><%= result[i].points_per_game %></td>

        </td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>