<%- include("../includes/header.ejs", {title:"team"}); %>
<h1>View Player Stats</h1>
<ul>
    <br/>
    <br/>
    <th>select a player: </th>

<form action="/player/insert" method ="get">

<select id ="player_id" name="player_id" multiple="multiple">

    <% for(var i=0; player.length > i; i++ ) { %> <br/>
    <option value="<%= player[i].player_id%>"><%= player[i].first_name + ', ' + player[i].last_name %></option>    <% } %>

</select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#player_id').multiselect();
        });
    </script>

    <br/>
    <br/>

    <th>select a season
        <br/>
        *[season 2017-2018 and 2018-2019 have yet to accumulate stats] : </th>

<br/>

    <select id ="season_id" name="season_id" multiple="multiple">

        <% for(var i=0; season.length > i; i++ ) { %> <br/>
        <option value="<%= season[i].season_id%>"><%= season[i].year %></option>    <% } %>

    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#season_id').multiselect();
        });
    </script>



    <br/>
    <br/>
    <br/>
    <input type="submit" />

</form>

    </li>
</ul>
</body>
<br/>
<a href="/"><< back</a>


<%- include("../includes/footer.ejs"); %>