
<%- include("../includes/header.ejs", {title:"Season Stats"}); %>
<h1>Player stats</h1>
<ul>
    <table border="1">
        Points Per Game: <%= result[0].points_per_game %>
        <br/>
        Assits Per Game: <%= result[0].assists_per_game %>
        <br/>
        Steals Per Game: <%= result[0].steals_per_game %>
        <br/>
        Rebounds Per Game: <%= result[0].rebounds_per_game %>
        <br/>
        Blocks Per Game: <%= result[0].blocks_per_game %>
    </table>


    <br/>
    <br/>
    <a href="/player/all"><< back</a>

<%- include("../includes/footer.ejs"); %>


